body {
  background-color: powderblue;
}
h1 {
  color: rgb(100, 166, 189);
  font-family: 'Titillium Web', sans-serif;
}
p {
  color: red;
  font-family: "Times New Roman", Times, serif;
  border: 2px solid orange;
  padding: 30px;
}
