body {
  background-color: powderblue;
}
h1 {
  color: #64A6BD;
  font-family: 'Titillium Web', sans-serif;
}
p {
  color: #64A6BD;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: 2px solid orange;
  padding: 30px;
  margin: 50px;
}
