body {
  background-color: #F1EBDA;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1 {
  color: #64A6BD;
  font-family: 'Titillium Web', sans-serif;
  font-size: 40px;
}

h3 {
  color: #64A6BD;
  font-family: 'Titillium Web', sans-serif;
  font-size: 25px;
  border:2px solid #64A6BD;
  padding:15px;
}

p1 {
  color: #64A6BD;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

pre {
  color: #64A6BD;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
